/* Portfolio */

article {
    &.portfolio {
        .portfolio-image {
            &.single {
                margin-bottom: 30px;
            }
        }

        h2 a,
        h4 a {
            text-decoration: none;
        }
    }
}

.popup-inline-content,
.mfp-content .ajax-container {
    hr.solid {
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
    }
    .portfolio-image.wide {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);

        @media #{$screen-medium} {
            margin-left: -($grid-gutter-width / 4);
            margin-right: -($grid-gutter-width / 4);
        }
    }
}

.portfolio,
#portfolioAjaxBox {
    .portfolio-image.wide,
    hr.solid {
        body.boxed &,
        #main.main-boxed & {
            margin-left: -$grid-gutter-width;
            margin-right: -$grid-gutter-width;

            @media #{$screen-medium} {
                margin-left: -($grid-gutter-width / 2);
                margin-right: -($grid-gutter-width / 2);
            }
        }
    }
}

.mfp-content .ajax-container,
#portfolioAjaxBox {
    .portfolio-title {
        margin-top: 0 !important;
    }
}

.portfolio-image {
    margin-bottom: 15px;
    img {

    }
}

.portfolio-slideshow {
    text-align: center;
}
.portfolio-title {
    margin-bottom: -15px;
    a {
        display: inline-block;
    }
    .fa {
        font-size: 1.7em;
    }
    .portfolio-nav,
    .portfolio-nav-all {
        margin-top: 11px;
    }
    .portfolio-nav {
        text-align: $right;
    }
    .portfolio-nav a {
        width: 40%;
        max-width: 27px;
    }
    .portfolio-nav-all .fa {
        font-size: 2em;
        margin-#{$left}: 1px;
    }
    .portfolio-nav-prev {
        text-align: $left;
        i:before {
            content: if-ltr($fa-var-chevron-left, $fa-var-chevron-right);
        }
    }
    .portfolio-nav-next {
        text-align: $right;
        i:before {
            content: if-ltr($fa-var-chevron-right, $fa-var-chevron-left);
        }
    }
}

/* Portfolio Info */
.portfolio-desc {
    margin-top: 10px;
}
.portfolio-info {
    margin: 7px 0 10px;
    float: $right;
    .page-portfolios & {
        margin-top: 2px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            color: #B1B1B1;
            border-#{$right}: if-light(1px solid #e6e6e6, 1px solid $color-dark-4);
            padding-#{$right}: 8px;
            margin-#{$right}: 8px;
            font-size: 0.9em;
            &:last-child {
                border-#{$right}: 0;
                padding-#{$right}: 0;
                margin-#{$right}: 0;
            }
            a {
                cursor: pointer;
                text-decoration: none;
                color: #b1b1b1;
            }
            .fa,
            .post-views-icon.dashicons {
                margin-#{$right}: 4px !important;
                font-size: 1em !important;
                height: 1em;
                line-height: 1;
                width: 1em;
            }
        }
    }
}

.portfolio-like,
.portfolio-liked {
    cursor: pointer;
    text-decoration: none;

    i {
        margin-#{$right}: 4px !important;
        font-size: 1em !important;
        height: 1em;
        line-height: 1;
        width: 1em;
    }

    &:hover,
    &.linked {
        text-decoration: none;
        .fa-heart {
            color: #E53F51;
        }
    }
}

/* Related Portfolios */
.related-portfolios {
    margin-top: 35px;

    &.full {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.portfolio-carousel {
    .portfolio-slide {
        @include clearfix();
    }
    .portfolio-item {
        margin: 0 ($grid-gutter-width / 2) 20px;
        &.full {
            margin: 0;
            max-width: 100%;
        }
    }
    &.owl-carousel .owl-dots {
        margin-top: 0;
    }
}

.portfolio-item-small {
    float: $left;
    margin: 0 0 8px;
    padding: 0 4px;
    width: 33.33333333%;
    max-width: 92px;

    &:first-child {
        padding-top: 0;
        border-top-width: 0;
    }

    .portfolio-image {
        margin: 0;
        img {
            width: 100%;
            height: auto;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
            -webkit-filter: grayscale(100%);

            &:hover {
                filter: none;
                -webkit-filter: none;
            }
        }
    }
}

/* Portfolio List */
ul {
    &.portfolio-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .portfolio-item {
            margin-bottom: 30px;
        }
    }
}
.portfolio-item {
    &.outimage {
        text-align: center;
    }
    .thumb-info {
        .thumb-info-type {
            .portfolio-like,
            .portfolio-liked {
                i {
                    text-shadow: none;
                }
            }
            .portfolio-like {
                i:before {
                    content: "\f08a";
                }
            }
        }
    }
}

.portfolio,
.portfolio-item {
    .thumb-info {
        .tooltip {
            display: none !important;
        }
    }
}

/* Portfolio Details */
ul {
    &.portfolio-details {
        list-style: none;
        padding: 0;
        margin: side-values(0 0 0 5px);
        font-size: 0.9em;
        h5 {
            font-size: 1em;
            margin-bottom: 5px;
        }
        li {
            padding: 0;
            margin: 0 0 20px;
        }
        p {
            padding: 0;
            margin: 0;
        }
        blockquote {
            padding: side-values(0 0 0 10px);
            margin: 15px 0 0;
            color: #999;
        }
        ul.list-skills {
            margin-#{$left}: 0;
            li {
                margin-#{$right}: 20px;
                margin-bottom: 5px;
            }
        }

        &.inline {
            li {
                display: inline-block;
                margin-#{$right}: 20px;
                vertical-align: top;

                p {
                    display: inline-block;
                }

                strong {
                    margin-#{$right}: 5px;
                }

                ul,
                .share-links {
                    display: inline-block;
                }

                &.pull-right {
                    margin-#{$right}: 0;
                }
            }
        }

        .testimonial {
            font-size: 1.1111em;
        }
    }
}

/* Portfolio Page */
.page-portfolios {
    &.portfolios-full,
    &.portfolios-large,
    &.portfolios-medium {
        .portfolio {
            padding-bottom: 0;
        }
    }
}

.portfolio-row {
    position: relative;
    margin: 0 (-($grid-gutter-width / 2));

    .portfolio {
        float: $left;
        padding: 0 ($grid-gutter-width / 2);
        margin-top: 0;
        margin-bottom: $grid-gutter-width;
        width: 100%;
    }

    .portfolio-col-1 {
        width: 100%;
    }

    .portfolio-col-2 {
        width: 50%;
        &.w2 {
            width: 100%;
        }
        @media #{$screen-medium} {
            width: 100%;
        }
    }

    .portfolio-col-3 {
        width: 33.33333333%;
        &.w2 {
            width: 66.66666666%;
        }
        @media #{$screen-medium} {
            width: 50%;
            &.w2 {
                width: 100%;
            }
        }
        @media #{$screen-small} {
            width: 100%;
        }
    }

    .portfolio-col-4 {
        width: 25%;
        &.w2 {
            width: 50%;
        }

        @media #{$screen-normal} {
            width: 33.33333333%;
            &.w2 {
                width: 66.66666666%;
            }
        }
        @media #{$screen-medium} {
            width: 50%;
            &.w2 {
                width: 100%;
            }
        }
        @media #{$screen-small} {
            width: 100%;
        }
    }

    .portfolio-col-5 {
        width: 20%;
        &.w2 {
            width: 40%;
        }

        @media #{$screen-normal} {
            width: 25%;
            &.w2 {
                width: 50%;
            }
        }
        @media #{$screen-medium} {
            width: 33.33333333%;
            &.w2 {
                width: 66.66666666%;
            }
        }
        @media #{$screen-small} {
            width: 50%;
            &.w2 {
                width: 100%;
            }
        }
    }

    .portfolio-col-6 {
        width: 16.66666666%;
        &.w2 {
            width: 33.33333333%;
        }
        @media #{$screen-large} {
            width: 20%;
            &.w2 {
                width: 40%;
            }
        }
        @media #{$screen-normal} {
            width: 25%;
            &.w2 {
                width: 50%;
            }
        }
        @media #{$screen-medium} {
            width: 33.33333333%;
            &.w2 {
                width: 66.66666666%;
            }
        }
        @media #{$screen-small} {
            width: 50%;
            &.w2 {
                width: 100%;
            }
        }
    }

    .column2 & {
        .portfolio-col-4 {
            @media #{$screen-large} {
                width: 33.33333333%;
                &.w2 {
                    width: 66.66666666%;
                }
            }
            @media #{$screen-medium} {
                width: 50%;
                &.w2 {
                    width: 100%;
                }
            }
            @media #{$screen-small} {
                width: 100%;
            }
        }

        .portfolio-col-5,
        .portfolio-col-6 {
            width: 20%;
            &.w2 {
                width: 40%;
            }

            @media #{$screen-large} {
                width: 25%;
                &.w2 {
                    width: 50%;
                }
            }
            @media #{$screen-medium} {
                width: 33.33333333%;
                &.w2 {
                    width: 66.66666666%;
                }
            }
            @media #{$screen-small} {
                width: 50%;
                &.w2 {
                    width: 100%;
                }
            }
        }
    }

    &.full {
        margin: 0;

        body.boxed & {
            margin-left: -$grid-gutter-width;
            margin-right: -$grid-gutter-width;

            @media #{$screen-medium} {
                margin-left: -($grid-gutter-width / 2);
                margin-right: -($grid-gutter-width / 2);
            }
        }

        body.boxed .vc_row[data-vc-stretch-content] & {
            margin-left: 0;
            margin-right: 0;
        }

        .portfolio {
            padding: 0;
            margin-bottom: 0;
        }
    }
}

/* Portfolio Modal */
.portfolio-modal,
.portfolio-ajax-modal {
    .mfp-arrow,
    .mfp-close {
        display: none;
    }
    .container {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .uvc-vc-full-width,
    .vc_row[data-vc-full-width],
    .ult-vc-hide-row,
    .vc_row[data-vc-stretch-content] {
        &,
        body.boxed &,
        #main.main-boxed & {
            position: relative;
            width: 100% !important;
            left: 0 !important;
            padding-left: $grid-gutter-width !important;
            padding-right: $grid-gutter-width !important;
            margin: 0 !important;
            max-width: 100% !important;

            @media #{$screen-medium} {
                padding-left: ($grid-gutter-width / 2) !important;
                padding-right: ($grid-gutter-width / 2) !important;
            }
        }
    }
}

.portfolio-load-more-loader {
    display: none;
    position: relative;
    height: 49px;
}

.btn-portfolio-lazy-load {
    opacity: 0;
}

/* Responsive */
@media (max-width: 991px) {
    .portfolio-nav, .portfolio-nav-all {
        display: none;
    }
}

/* Filters */
.sort-source {
    clear: both;

    > li > a {
        cursor: pointer;
        padding: 6px 12px;
    }

    &.sort-source-style-2 {
        margin: 0 auto;
        > li {
            float: none;
            display: inline-block;
            > a {
                &, &:focus, &:hover {
                    background: transparent;
                    color: #FFF;
                    display: inline-block;
                    border-radius: 0;
                    margin: 0;
                    padding: 18px 28px;
                    position: relative;
                }
                &:after {
                    @include transition (margin 0.3s);
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 15px solid #CCC;
                    content: " ";
                    display: block;
                    position: absolute;
                    #{$left}: 50%;
                    margin-#{$left}: -20px;
                    margin-top: 0;
                    opacity: 0;
                    z-index: 1;
                }
            }
            &.active {
                > a {
                    &, &:focus, &:hover {
                        background: transparent;
                    }
                    &:after {
                        opacity: 1;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

@media #{$screen-medium} {
    .sort-source {

        &.sort-source-style-2 {
            > li {
                display: block;
                &.active {
                    > a {
                        &:after {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

.ajax-box {
    .bounce-loader,
    .porto-ajax-loading {
        z-index: 1;
    }
}