
/* Single Post */
.single-post article {
    border-bottom: 0;
    margin-bottom: 0;
}

/* Post Slideshow */
.post-slideshow {
    text-align: center;
}

/* Post */
.entry-title {
    margin-top: 0;
}
.sub-title {
    text-transform: uppercase;
}
article.post,
.post-item {
    .post-date {
        float: $left;
        margin-#{$right}: 10px;
        text-align: center;
        width: 40px;

        .month {
            border-radius: 0 0 $border-small $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 0.9em;
            padding: 0 0 2px;
            display: block;
        }
        .day {
            background: if-light(#f4f4f4, $color-dark-3);
            border-radius: $border-small $border-small 0 0;
            display: block;
            font-size: 16px;
            font-weight: 500;
            font-weight: bold;
            padding: 10px 0;
        }

        .sticky {
            background: #62b959;
            border-radius: $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 0.9em;
            padding: 2px 0 0;
            margin-top: 5px;
            display: block;
        }

        .format {
            border-radius: $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 1.2857em;
            padding: 0;
            line-height: 40px;
            margin-top: 5px;
        }
    }
    .read-more {
        display: inline-block;
    }
    .read-more-block {
        display: block;
        margin-top: 20px;
    }
    h4.title-short {
        margin-bottom: 2px;
        padding-top: 8px;
    }
    .author-name {
        a {
            color: inherit;
        }
    }
}

article {
    &.post {
        h2 a,
        h4 a {
            text-decoration: none;
        }

        .post-meta {
            font-size: 0.9em;
            margin-bottom: 7px;

            body.single-post & {
                margin-bottom: 20px;
            }
            > span,
            > .post-views {
                display: inline-block;
                padding-#{$right}: 8px;
            }
            i,
            .post-views-icon.dashicons {
                margin-#{$right}: 3px !important;
                font-size: 1em !important;
                height: 1em;
                line-height: 1;
                width: 1em;
                text-align: center;
            }
        }

        .post-image {
            margin-bottom: 15px;
            &.single {
                margin-bottom: 30px;
            }
        }

        .post-item {
            .post-meta,
            .read-more {
                font-size: 1em;
            }
        }
    }
    &.post-full,
    &.post-large {
        margin-#{$left}: 60px;

        h2.entry-title {
            margin-bottom: 5px;
        }

        .post-image,
        .post-date {
            margin-#{$left}: -60px;
        }

        &.hide-post-date {
            margin-#{$left}: 0;

            .post-image {
                margin-#{$left}: 0;
            }
        }

        @media #{$screen-small} {
            margin-#{$left}: 0;

            .post-image,
            .post-date {
                margin-#{$left}: 0;
            }
        }
    }
    &.post-large-alt {
        margin-#{$left}: 60px;

        h2 {
            margin-bottom: 5px;
        }

        .post-date {
            margin-#{$left}: -60px;
        }

        &.hide-post-date {
            margin-#{$left}: 0;

            .post-image {
                margin-#{$left}: 0;
            }
        }

        @media #{$screen-small} {
            margin-#{$left}: 0;
            .post-date {
                margin-#{$left}: 0;
            }
            .post-image {
                margin-#{$left}: 60px;
            }
        }
    }

    &.post-grid,
    &.post-timeline {
        .owl-carousel .owl-dots {
            margin-top: 5px;
        }
        .post-image {
            margin-bottom: 5px;
            &.single {
                margin-bottom: 15px;
            }
            &.thumb-info-side-image-wrapper {
                margin-bottom: 0;
            }
        }
    }
}

/* Post Block */
.post-gap {
    margin: 45px 0 0 0;
}
.post-gap-small {
    margin: 15px 0 0 0;
}
.post-block,
.post-share,
article.post .comment-respond,
article.portfolio .comment-respond {
    border-top: if-light(1px solid #ddd, 1px solid $color-dark-3);
    margin: 15px 0 0 0;
    padding: 20px 0 15px 0;

    h3 {
        font-size: 1.8em;
        font-weight: $font-weight-semilight;
        margin: 0 0 20px;

        i {
            margin-#{$right}: 7px;
        }
    }
}

/* Post Share */
.post-share {
    padding-bottom: 0;
    h3 {
        display: inline-block;
        margin-bottom: 10px;
        margin-#{$right}: 15px;
        margin-top: 5px;
        text-transform: none;
    }
    .share-links {
        display: inline-block;
        margin-top: -5px;
    }
}

/* Post Author */
.post-author {
    margin: 15px 0 0 0;
    img {
        height: auto;
        max-width: 80px;

        @media #{$screen-medium} {
            max-width: 60px;
        }
    }
    p {
        font-size: 0.9em;
        line-height: 22px;
        margin: 0;
        padding: 0;
        .name {
            font-size: 1.1em;
            a {
                text-decoration: none;
            }
        }
    }
    .img-thumbnail {
        display: inline-block;
        float: $left;
        margin-#{$right}: 20px;

        @media #{$screen-medium} {
            margin-#{$right}: 12px;
        }
    }
}

/* Post Comments */
.post-comments {
    margin-top: 45px;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;

    ul.children {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul.children > li,
    > li {
        clear: both;
        padding: side-values(10px 0 0 115px);
        img.avatar {
            height: auto;
            max-width: 80px;
        }
        a {
            text-decoration: none;
        }
        .img-thumbnail {
            margin-#{$left}: -115px;
            position: absolute;
        }
        .comment-body {
            margin-bottom: 10px;
        }
        .pull-right {
            span {
                margin-#{$left}: 5px;
            }
        }
    }
    .comment-arrow {
        border-bottom: 15px solid transparent;
        border-#{$right}: if-light(15px solid #f4f4f4, 15px solid $color-dark-3);
        #{$left}: -15px;
        border-top: 15px solid transparent;
        height: 0;
        position: absolute;
        top: 28px;
        width: 0;
    }
    .comment-block {
        background: if-light(#f4f4f4, $color-dark-3);
        border-radius: $border-normal;
        padding: 20px 20px 35px;
        position: relative;
        p {
            font-size: 0.9em;
            line-height: 21px;
            margin: 0;
            padding: 0;
        }
        .comment-by {
            display: block;
            font-size: 1em;
            line-height: 21px;
            margin: 0;
            padding: 0 0 5px 0;

            span {
                display: inline-block;
                margin-#{$left}: 8px;
            }
        }
        .date {
            color: #999;
            font-size: 0.9em;
            margin-top: 5px;
        }
    }
    @media #{$screen-medium} {
        ul.children {
            border-#{$left}: if-light(8px solid #ddd, 8px solid $color-dark-3);
            padding-#{$left}: 10px;
        }
        ul.children > li,
        > li {
            padding: 0;

            .comment-body {
                background: if-light(#f4f4f4, $color-dark-3);
                border-radius: $border-normal;
                padding: 10px;
                @include clearfix();
            }
            .img-thumbnail {
                margin: side-values(0 12px 10px 0);
                float: $left;
                position: static;
            }
            img.avatar {
                max-width: 60px;
            }
        }
        .comment-block {
            position: static;
            padding: 0;
        }
        .comment-arrow {
            display: none;
        }
    }
}

/* Leave a Comment */
article {
    .comment-respond {
        margin-top: 25px;
        padding-top: 45px;
        padding-bottom: 0;
        h3 {
            margin: 0 0 40px;
        }
        input[type="submit"] {
            font-size: 1.2857em;
            padding: .5556em .8889em;
            border-radius: $border-medium;
            line-height: 1.33;
        }
    }
    #cancel-comment-reply-link {
        margin-#{$left}: 10px;
    }
}

.comment-form {
    label {
        display: block;
    }
    input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select, textarea {
        width: 100%;
    }
}

/* Related Posts */
.related-posts {
    margin-top: 35px;

    h3 {
        font-weight: $font-weight-semilight;
    }
}

.post-carousel {
    .post-slide {
        @include clearfix();

        &.no-single {
            .post-item {
                margin-bottom: 20px;
            }
        }
    }

    h4,
    h5 {
        margin-bottom: 7px;
    }
    &.owl-carousel .owl-dots {
        margin-top: 0;
    }

    .post-item {
        margin: 0 ($grid-gutter-width / 2);
    }
}

.post-carousel,
.post-grid,
.post-timeline {
    .post-item {
        .post-date {
            margin: side-values(3px 10px 8px 0);
            float: $left;
        }
        .post-excerpt {
            margin-bottom: 10px;
        }
        .post-meta {
            font-size: 0.9em;
            margin-bottom: 7px;

            body.single-post & {
                margin-bottom: 20px;
            }
            > span,
            > .post-views {
                display: inline-block;
                padding-#{$right}: 8px;
            }
            i,
            .post-views-icon.dashicons {
                margin-#{$right}: 3px !important;
                font-size: 1em !important;
                height: 1em;
                line-height: 1;
                width: 1em;
                text-align: center;
            }
        }
        &.style-2 {
            .post-excerpt {
                margin-bottom: 20px;
            }
        }
        &.style-4 {
            .post-meta {
                font-size: 1em;
            }
            .read-more {
                margin-top: 10px;
            }
        }
        &.style-5 {
            .cat-names {
                font-weight: $font-weight-semibold;
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .post-views {
                float: $right;
            }
        }
    }
}

.post-item-small {
    margin: 0 ($grid-gutter-width / 2);
    padding: 15px 0;
    @include clearfix();
    border-top: if-light(1px solid #ececec, 1px solid $color-dark-3);

    &:first-child {
        padding-top: 0;
        border-top-width: 0;
    }

    .post-image {
        margin: side-values(0 10px 0 0);
        float: $left;
        img {
            width: 50px;
            height: auto;
        }
    }
    .post-date {
        font-size: .9286em;
    }
}

.entry-content {
    margin: 20px 0 30px;
}

/* Post Title Simple */
article.post-title-simple {
    h2.entry-title {
        font-size: 2.2em;
        margin-bottom: 15px;
    }
    .post-block {
        padding-top: 40px;
        margin-top: 37px;
    }
    .post-share {
        border-width: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .comment-respond {
        padding-top: 60px;
        margin-top: 25px;
    }
}

.post-item.post-title-simple {
    h4 a {
        color: inherit;
    }
}

.post-views.entry-meta > span {
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    line-height: 1;
}